<div id="food-container">
<% obj.each do |food| %>
  <% if food.picture? %>
    <div class="col-md-4">
      <div class="food-img-container">
        <%= image_tag food.picture.url, class:"menu-food-img" %>
        <p class="description" class="hidden">
          <%= food.description %>
        </p>
        <small class="price">
           <%= food.print_price %>
        </small>
      </div>
      <div align="center"><%= food.name %></div>
    </div>
  <% else %>
    <div class="col-md-4">
      <%= food.name %>
      <% food.description %>
      <% food.print_price %>
    </div>
  <% end %>
<% end %>
  </div>