<nav class="menu-nav">
  <ul class="menu-navigation">
  <li><%= link_to 'Breakfast', main_type_path('breakfast') %></li>
  <li><%= link_to 'Lunch', main_type_path('lunch') %></li>
  <li><%= link_to 'Dinner', main_type_path('dinner') %></li>
  <li><%= link_to 'Deserts', main_type_path('deserts') %></li>
  <li><%= link_to 'Drinks', main_type_path('drinks') %></li>
  </ul>
</nav>